<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>所有自习室</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <!-- <link rel="stylesheet" href="../../static/css/style.css" /> -->
    <script>
        var url = "ws://localhost:8080/study_with_me/index_web_socket";
        var socket = new WebSocket(url);
        socket.onopen = function () {
            console.log("enter index page");
            socket.send("enter index page");
        }
        socket.onmessage = function (e) {
            // 处理发送来的消息：所有自习室的各自人数
            console.log(e.data);
            var peopleCntOfRoom = e.data.split(" ");
            for (var roomId = 1; roomId < 5; ++roomId) {
                var elementId = "room" + roomId;
                document.getElementById(elementId).innerHTML = peopleCntOfRoom[roomId];
            }
        }
        window.addEventListener("beforeunload", function () {
            console.log("leave index page");
            socket.send("leave index page");
        });
    </script>
</head>

<body>
    <div id="global">
        <h1 id="project-name">STUDY WITH ME</h1>
        <h4 id="alias">自习小屋📚</h4>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=1}">自习室 1</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room1">0</span>
        </p>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=2}">自习室 2</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room2">0</span>
        </p>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=3}">自习室 3</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room3">0</span>
        </p>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=4}">自习室 4</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room4">0</span>
        </p>
    </div>
</body>

</html>