<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>所有自习室</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <!-- <link rel="stylesheet" href="../../static/css/style.css" /> -->
</head>

<body>
    <div id="global">
        <h1 id="project-name">STUDY WITH ME</h1>
        <h4 id="alias">自习小屋📚</h4>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=1}">自习室 1</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room1"></span>
        </p>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=2}">自习室 2</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room2"></span>
        </p>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=3}">自习室 3</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room3"></span>
        </p>
        <p class="room">
            <a th:href="@{/room/enterRoom?roomId=4}">自习室 4</a> &emsp;
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" />
            <span id="room4"></span>
        </p>
    </div>
</body>

</html>