<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>自习室</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <!-- <link rel="stylesheet" href="../../static/css/style.css" /> -->

    <script th:inline="javascript">
        var roomId = Number(/*[[${ roomId }]]*/);
        function Info(action, roomId) {
            this.action = action;
            this.roomId = roomId;
        };

        var url = "ws://localhost:8080/study_with_me/room_web_socket";
        var socket = new WebSocket(url);
        socket.onopen = function () {
            // 连接开启时发送自习室id
            var info = new Info("enter", roomId);
            sendInfo(info);
        }
        // ！无效，使用监听
        socket.onclose = function () {
            var info = new Info("leave", roomId);
            sendInfo(info);
        }
        socket.onmessage = function (e) {
            // 处理发送来的消息：当前自习室人数
            console.log("当前人数：" + e.data);
            document.getElementById("people-cnt").innerHTML = e.data;
        }
        function sendInfo(info) {
            var infoJson = JSON.stringify(info);
            console.log(infoJson);
            socket.send(infoJson);
        }
        // 窗口关闭或刷新时发出离开自习室请求
        window.addEventListener("beforeunload", function () {
            var info = new Info("leave", roomId);
            sendInfo(info);
        });
    </script>
</head>

<body>
    <div id="global">
        <!-- ${x} 将返回存储在 Thymeleaf 上下文中或作为 request 属性的变量 x -->
        <h1>自习室 <span th:text="${roomId}"></span></h1>

        <p id="current-room-people-cnt">
            <img th:src="@{/static/img/person.png}" width="20" style="vertical-align: bottom" /><span
                id="people-cnt">0</span>
        </p>

        <!-- <div id="timer">
            <div style="color: black">⏱已学习</div>
            <div id="showTime" style="color: black">0 时 0 分 0 秒</div>
        </div> -->

        <p style="text-align: center;"><a th:href="@{/}">退出自习室</a></p>
        <!-- <p style="text-align: center">
            <a href="javascript:history.back(-1)">退出自习室</a>
        </p> -->
    </div>
</body>

</html>